.cart::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

.cart::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.cart::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0;
}
